.ejerciciocard{
display: flex;
flex-direction: row;
align-items: center;
gap: 90px;
background-color: rgb(39, 36, 36);
border-radius: 6px;
width: 500px;
height: 80px;
}
.imagen{
width: 67px;
height: 67px;
top : 8px;
left: 8px;
border-radius: 6px;
}
